body {
  background-color: black;
}
/*start nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  flex-direction: row;

  flex-wrap: wrap;
  height: 6vh;
  background-color: rgb(39, 35, 35);

  font-size: large;
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding: 0px 25px;
}
input {
  width: 35vw;
  height: 4vh;
  background-color: black;
  font-size: larger;
}

nav div i {
  height: 15px;
  width: 42px;
}
#youtube {
  color: white;
  font-size: larger;
  text-decoration: none;
}
.logo a i {
  color: red;
  width: auto;
}
.midelNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.searchNav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border: gray 1px solid;
}
/*finish nav */

.left-side {
  display: flex;
  background-color: rgb(39, 35, 35);
  height: 100%;
  width: 18rem;
  flex-wrap: wrap;
}
.left-side div {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 18rem;
}
.second {
  border-top: gray 1px solid;
}
.left-side div a {
  padding: 25px;

  color: gray;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}
.left-side div a i {
  width: 50px;
}
