body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
    align-items: center;
    justify-content: center;
    width: 98vw;
  }