@media only screen and (max-width: 1024px) {
    body {
      width: 90vw;
    }
    .rightNav {
      width: 30vw;
      height: 4vh;
    }
    .topnav i {
      width: 10vw;
      padding: 0px 8px;
    }
    .user-pic {
      display: none;
    }
    .left-side {
      display: flex;
  
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: row;
      background-color: transparent;
      width: 10vw;
  
      left: 0;
    }
    .mtext {
      display: none;
    }
    .second {
      border: none;
    }
    .second i,
    .first i {
      color: white;
      border: 1px solid;
      height: 6vh;
      width: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
    }
    .right-side {
      width: 93vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .topnav {
      display: grid;
      grid-template-columns: 20% 30% 40%;
      grid-template-rows: 100%;
  
      width: 95vw;
    }
    .background-pic {
      width: 85vw;
      height: 15vh;
      background-size: cover;
    }
    .background-box {
      display: grid;
  
      grid-template-columns: 30% 40% 30%;
      grid-template-rows: 150%;
      width: 20vw;
    }
  
    #searchbottom {
      display: none;
    }
    .searchNav {
      width: 8vw;
      height: 3vh;
      border-radius: 20px;
      border: white 1px solid;
    }
    .logo {
      width: 20vw;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
    }
  
    .logo span {
      display: none;
    }
    .nav-main {
      display: none;
    }
    .Videos ul {
      width: 58vw;
      height: 22vh;
    }
  }